*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #e7dfdf;
    overflow-x: hidden;
}
section{
    margin: 30px auto;
    width: 900px;
    height: 900px;
    background-color: #6d6868;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px);
    /*Giving a name to the areas in grid, refering to the cells on the grid*/
    /*Each name have a relationship with the cell in grid*/
    grid-template-areas:"header header header header" 
                        "nav main main main"
                        "nav main main main"
                        "footer footer footer footer";
    grid-gap: 10px 10px;
}
section div:nth-child(1){
    grid-area: header;
    background-color: red;
}
section div:nth-child(2){
    grid-area: nav;
    background-color: blue;
}
section div:nth-child(3){
    grid-area: main;
    background-color: yellow;
}
section div:nth-child(4){
    grid-area: footer;
    background-color: green;
}