*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
}
section{
    width: 400px;
    height: 400px;
    background-color: red;
    color: white;

    position: relative;
    left: calc(50% - 200px);
    top: 50px;

    border: 5px black solid;
    font-size: 1.5em;
}
div{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    left: calc(50% - 100px);
    top: 50px;
    border: black solid 5px;
    font-size: 1.5em;
}